<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
  <div>
    <label for="login">Имя пользователя:</label>
    <input type="text" id="login" th:field="*{getLogin}" required>
  </div>
  <div>
    <label for="password">Пароль :</label>
    <input type="password" id="password" th:field="*{password}" required>
  </div>
  <button type="submit">Регистрация</button>
</form>
<p th:if="${error}" th:text="${error}"></p>

<a href="register">Войти в аккаунт</a>
</body>
</html>
